<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#ffffff">
  <title>Rijksmuseum API Server Side</title>
  <link rel="manifest" crossorigin="use-credentials" href="/manifest.json">
  <script src="/scripts/script.js" defer></script>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="apple-touch-icon" href="/static/public/images/icon.png">
</head>

