html{
  min-height: 100vh;
}
body {
    font-family: 'Roboto', sans-serif;
    color: black;
    background: hsl(35, 75%, 97%);
    max-width: 1300px;
    margin: 0 auto;
    min-height: 100vh;
}

.overviewPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.detailPage img{
  max-width: 500px;
  max-height: 70%;
}
  

/* teksten */

h1{
  text-align: center;
  font-size: 3em;
  color: black;
  margin: 50px 0px;
  width: 100% ;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: 24px;
  color: rgb(54, 54, 54);
  margin: 10px 0;
  width: 100% ;
  font-weight: bold;
  text-transform: uppercase;
}

h3{
  text-align: center;
  font-size: 16px;
  color: black;
  font-weight:lighter;
  margin: 5px;
  width: 100%;
}

h4{
  text-align: center;
}


/* images and links */

img {
  display: block;
  margin: 1rem auto;
  max-width: 90%;
  max-height: 400px;
}

a {
  text-decoration: none;
  color: black;
  max-height: 200px;
}


/* containers */

.artobject {
  text-align: center;
  width:350px;
  max-height: max-content;
  margin: 20px;
  padding: 20px;
  background: rgb(255, 255, 255);
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 10px;
  list-style: none;
}


button{
  width: 200px;
  height: 50px;
  margin: auto auto;
}

